* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 500px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.card {
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 400px;
    height: fit-content;
    background-color: #ffffff;
    padding: 20px 30px;
}

.card_title {
    text-align: center;
    padding: 10px;
}

.card_title h1 {
    font-size: 26px;
    font-weight: bold;
    color: black;
}

.form input {
    margin: 10px 0;
    width: 100%;
    background-color: #e2e2e2;
    color:black;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 4px;
}

.form button {
    background-color: #4796ff;
    color: #ffffff;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
    width: 100%;
    cursor: pointer;
}

.card_terms {
    display: flex;
    align-items: center;
    padding: 10px;
}

.card_terms input[type="checkbox"] {
    background-color: #e2e2e2;
}

.card_title span {
    margin: 5px;
    font-size: 13px;
    color: black;
}

.card a {
    color: #4796ff;
    text-decoration: none;
    cursor: pointer;
    margin-left: 5px;
}